<% provide(:title,"New Vote") %>
<div class="center hero-unit">
  <% if @new_hack_day.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@new_hack_day.errors.count, "error") %>.
    </div>
    <ul>
    <% @new_hack_day.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <% if flash[:notice].present? %>
    <div class="alert alert-notice"><%= flash[:notice] %></div>
  <% end %>
  <h1>New Vote</h1>
  <%= form_for(@new_hack_day) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label " " %>
    <%= f.submit "Create a hack day", :class => "btn btn-large btn-primary" %>
  <% end %>
</div>


