
<% provide(:title,"New Project for #{@new_project.hack_day.title}") %>
<div class="center hero-unit">
  <% if !flash[:error].nil? %>
    <div class="alert alert-error"><%= flash[:error] %></div>
  <% end %>
  <% if !flash[:notice].nil? %>
    <div class="alert alert-notice"><%= flash[:notice] %></div>
  <% end %>
  <h1>New Project for <%= "#{@new_project.hack_day.title}" %></h1>
  <%= form_for(@new_project) do |f| %>
    <%= f.label :description, "Enter a description" %>
    <%= f.text_field :description %>
    <div class="hide">
    	<%= f.text_field :hack_day_id %>
    </div>
    <%= f.label " " %>
    <%= f.submit "Add Project", :class => "btn btn-large btn-primary" %>
  <% end %>
</div>


